/**,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}*/

body {
  background-image: url('../img/cork-board.jpg');
}
/*
#polaroid {
  position: relative;

}*/

/*#pupPic {
  position: absolute;
  top: 117px;
  left: 133px;
  width: 637px;
  height: 638px;
}

#pinPic {
  position: relative;
  top: 30px;
  left: 400px;
  width: 75px;
}*/

.polaroidBack img {
  position: relative;
  width: 700px;

}

.polaroidBack:before {
  position: absolute;
  content: url('../img/pitpupp.jpg');
  top: 80px;
  left:80px;



}

.polaroidBack:after {
  position: absolute;
  content: url('../img/pin.png');
  left: 60px;
  top: 10px;

}
